@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(17 15 15);
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}
/* start_login */
.login {
    display: flex;
    flex-flow: column nowrap ;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.login_box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    min-height: 400px;
    max-width: 80vw;
    max-height: 90vh;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.05);
    background-color: #323232;
}

.login_form {
    color: whitesmoke;
    font-size: 1.5rem;
}

.login_input {
    font-size: 1rem;
    padding: 0.3rem 0.3rem;
    border-radius: 5px;
    border: none;
}

.login_btn {
    font-size: 1rem;
    padding: 0.3rem 2rem;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 700;
    background-color: whitesmoke;
    border: none;
    color: #323232;
}
/* login_end */
/* start__header */
.header {
    background-color: #323232;
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.5);
    position: relative;
}
/* start__navbar */
.navbar {
    height: 100%;
    width: 100%;
}

.nav_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 90%;
    height: 100%;
    padding-left: 4vw;
    padding: 1.5vw 3vw 1.5vw 3vw;
    margin-right: auto;
    list-style: none;
    color: whitesmoke;
    border-radius: 6px;
    font-size: 0.8rem;
}

.nav_box {
    border-radius: 4px;
    background-color: rgb(87, 89, 89);
    border-color: rgb(109, 107, 107);
    color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    margin: 0 5px 0 5px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.8rem;
}

#nav_gender {
    height: 100%;
}
/* 수직선 */
.nav_vl {
    border-left: 1px solid #888;
    display: flex;
    margin: 0 6px 0 4px;
}
/* input > date > icon */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
/* navbar__end */
/* header__end */
/* start__sidebar */
.sidebar {
    display: flex;
    height: 100vh;
}

.sidebar_left {
    display: flex;
    justify-content: center;
    width: 3vw;
    height: 100vh;
    background-color: #323232;
}

.sidebar_i {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 10px;
    padding: 0;
    height: 100%;
    list-style: none;
}

.material-icons {
    float: left;
    margin: 0 auto;
    padding: 10px 0 10px;
    color: whitesmoke;
    font-size: 1.6rem !important
}

.i_btn {
    background: transparent;
    border: none;
}

.sidebar_right {
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    background-color: #323232;
    width: 25vw;
}

#sideTabMenu {
    list-style: none;
}

.side_btn {
    display: flex;
    margin: 0 auto;
    margin-top: 10%;
}

.btn_ai {
    padding: 0.6vmax 5vmax 0.6vmax 5vmax;
    font-size: 1.6rem;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 700;
    background-color: whitesmoke;
    border: none;
    color: #323232;
}

.btn_ai:hover {
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    transition: all 0.2s ease;
}
/* start_tabMenu */
.tab_menu {
    display: flex;
    position: absolute;
    margin-top: 8%;
    width: 25vw;
    height: 100vh;
    text-decoration: none;
}

.tab_btn {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    font-family: 'SpoqaHanSansNeo-Regular';
}

.tab_btn li {
    float: left;
    margin: 0 auto;
}

.tab_menu .tab_btn .tab_btns {
    display: felx;
    font-size:13px;
    text-decoration: none;
    color: whitesmoke;
}

.tab_menu .tab_btn .tab_cont {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: black;
    color: whitesmoke;
    text-align:center;
    line-height:100%;
}

.tab_menu .tab_btn li.tab_menus .tab_btns {
    font-weight: bold;
    color: #888;
}

.tab_menu .tab_btn li.tab_menus .tab_cont {
    display:block;
}
/* tabMenu_end */
/* sidebar__end */
/* start_canvas */
.boneCanvas {
    width: 100vw;
    height: 100vh;
}
/* canvas_end */