@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-weight: normal;
    font-family: "SpoqaHanSansNeo-Regular";
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: rgb(17 15 15);
}

/* start_login.html*/
.login_area {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.login_box {
    position: relative;
    min-width: 500px;
    max-width: 5rem;
    min-height: 350px;
    max-height: 5rem;
    background-color: #323232;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.login__box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login_inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.login_inner h1 {
    margin-bottom: 1.2rem;
    color: whitesmoke;
    font-weight: 800;
    font-size: 1.8rem;
}

/* start__login input */
.login_form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: "SpoqaHanSansNeo-Regular", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login_form input {
    box-sizing: border-box;
    width: 366px;
    height: 44px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: whitesmoke;
    font-size: 1rem;
    background-color: #575959;
    border: 1px solid #323232;
    outline: none;
}

.loginBtn_id {
    border-radius: 6px 6px 0 0;
}

.loginBtn_pw {
    border-radius: 0 0 6px 6px;
}

.login_form label {
    position: absolute;
    left: 5.5rem;
    color: #999;
    font-size: 1rem;
    transition: all 1s ease;
}

.login_form input:focus {
    z-index: 1;
    background-color: transparent;
    border: 1px solid #575959;
}

.login_form input:focus + label,
.login_form input:valid + label {
    color: transparent;
}

/* login input__end */
/* start__login button */
.loginBtn_area {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.login_btns {
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: #323232;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: "SpoqaHanSansNeo-Regular", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* login button__end */
/* login.html_end */

/* start_join.html */
.join_area {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #323232;
}

.join_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 460px;
    height: 80vh;
    margin: 0 auto;
}

.join_area h1 {
    margin: 0 0 3vh 0;
    color: whitesmoke;
    font-weight: 800;
    font-size: 2rem;
}

.join_area form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "SpoqaHanSansNeo-Regular", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.join_pannel {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.join_form {
    display: flex;
    flex-flow: column;
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.join_title {
    margin: 19px 0 8px;
    color: whitesmoke;
    font-size: 14px;
}

.join_form input {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    color: #323232;
    font-size: 1rem;
    font-family: "SpoqaHanSansNeo-Regular", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
    border: none;
    border-radius: 6px;
    outline: none;
}

.joinBtn_area button {
    z-index: 1;
    margin: 30px 0 9px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: whitesmoke;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: "SpoqaHanSansNeo-Regular", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #323232;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.joinBtn_area button:hover {
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: #323232;
    background-color: whitesmoke;
}
/* join.html_end */

/* start_index.html */
/* start__header */
.header {
    position: relative;
    z-index: 3;
    background-color: #323232;
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.5);
}

/* start__navbar */
.navbar {
    display: flex;
    align-content: space-between;
    width: 100%;
}

.nav_info {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: 0;
    margin-right: auto;
    padding: 1.5vw 3vw 1.5vw 3vw;
    padding-left: 4vw;
    color: whitesmoke;
    font-size: 0.8rem;
    list-style: none;
    border-radius: 6px;
}

.nav_box {
    z-index: 3;
    margin: 0 5px 0 5px;
    color: whitesmoke;
    font-size: 0.8rem;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: rgb(87, 89, 89);
    border-color: rgb(109, 107, 107);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

#nav_gender {
    height: 100%;
}

/* nav_info > border */
.nav_vl {
    display: flex;
    margin: 0 6px 0 4px;
    border-left: 1px solid #888;
}

/* input > date > icon */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* navbar__end */
/* header__end */
/* start__sidebar */
.sidebar {
    position: relative;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.sidebar_left {
    position: absolute;
    display: flex;
    display: flex;
    justify-content: center;
    width: 3vw;
    height: 100vh;
    background-color: #323232;
}

.sidebar_i {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    max-height: 100vh;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.material-icons {
    float: left;
    margin: 0 auto;
    padding: 10px 0 10px;
    color: whitesmoke;
    font-size: 1.5rem !important;
}

.i_btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.sidebar_right {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 25vw;
    height: 100%;
    margin-left: auto;
    background-color: #323232;
}

#sideTabMenu {
    list-style: none;
}

.side_btn {
    margin: 0 auto;
    margin-top: 10%;
}

.btn_ai {
    position: relative;
    padding: 0.6vmax 5vmax 0.6vmax 5vmax;
    color: #323232;
    font-weight: 700;
    font-size: 1.6rem;
    font-family: "Poppins";
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_ai:hover {
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid whitesmoke;
    transition: all 0.2s ease;
}

/* start__tabMenu */
.tab_menu {
    position: absolute;
    display: flex;
    width: 25vw;
    height: 100vh;
    margin-top: 8%;
    text-decoration: none;
}

.tab_btn {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 0;
    font-family: "SpoqaHanSansNeo-Regular";
    list-style: none;
}

.tab_btn li {
    float: left;
    margin: 0 auto;
}

.tab_menu .tab_btn .tab_btns {
    display: felx;
    color: whitesmoke;
    font-size: 13px;
    text-decoration: none;
}

.tab_menu .tab_btn .tab_cont {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    line-height: 100%;
    text-align: center;
    background: black;
}

.tab_menu .tab_btn li.tab_menus .tab_btns {
    color: #888;
    font-weight: bold;
}

.tab_menu .tab_btn li.tab_menus .tab_cont {
    display: block;
}

/* tabMenu__end */
/* sidebar__end */
/* start__canvasApi */

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
}

.boneCanvas {
    width: calc(100vw - 29vw);
    height: calc(100vh -10vh);
    height: 100%;
    overflow: auto;
}
/* canvasApi__end */
/* index.html_end */
