<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 일단 jquery 없었고 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function (){
            getCommentList();
        });

        function getCommentList(){
            var commentUrl = "/getCommentList/";
            var commentArticle = $("#article_seq").val();

            $.ajax({
                url: commentUrl+commentArticle,
                type: 'POST',
                dataType: 'json',
                success: commentView,
                error: function(){alert("error!");}
            })
        }

        function commentView(data){
            if (data.length < 1){
                $("#commentTable").html("등록된 댓글이 없습니다.");
            }else {
                var getComment ="";
                $.each(data, function (index, c){
                    /*console.log(data)*/
                    console.log(c.comment_content)
                    getComment += "<a style='display:none;' id='comment_seq"+c.comment_seq+"'>" + c.comment_seq+ "</a>"
                    getComment += "<a id='doctor_id"+c.comment_seq+"'>" + c.doctor_id + " | " + "</a>";
                    getComment += "<a id='comment_date"+c.comment_seq+"'>" + c.comment_date + "</a><br>";
                    getComment += "<a id='comment_content"+c.comment_seq+"'>" + c.comment_content + "</a>";
                    getComment += "<div th:if($('#doctor_id')==$(session.doctor_id)>" +
                        "<span><button type=\"submit\" onclick='goCommentUpdate("+c.comment_seq+")' id='commentUpdate"+c.comment_seq+"' value=\"update\">수정</button></span>" +
                        "<span><button type=\"submit\" onclick='commentDelete("+c.comment_seq+")' id='commentDelete"+c.comment_seq+"' value=\"delete\">삭제</button></span>" +
                        "</div>"
                    getComment += "<br>";
                })
                $("#c").html(getComment);
            }
        }

        function goCommentUpdate(comment_seq) {
            var comment = $("#comment_content"+comment_seq).text();
            var cInput = "<input type='text' id='nc"+comment_seq+"' value='"+comment+"'>"
            $("#comment_content"+comment_seq).html(cInput);
            var newBtn = "<span><button type=\"submit\" onclick='updateBtn("+comment_seq+")'>수정하기</button></span>"
            $("#commentUpdate"+comment_seq).html(newBtn);
        }

        function updateBtn(comment_seq){
            var updateUrl = "/commentUpdate/";
            var updateComment = comment_seq;
            var comment_content = $("#nc"+comment_seq).val();
            console.log(comment_content)
            $.ajax({
                url: updateUrl+updateComment,
                type: 'POST',
                data: {"comment_content":comment_content},
                success: commentView,
                error: function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);}

            });

        }

        function answerEditSave(answer_idx, qna_idx){
            var acontent = $("#edit_acontent"+answer_idx).val();
            location.href='answerEdit.do?idx='+answer_idx+"&acontent="+acontent;
        }

        function commentDelete(comment_seq) {
            var updateUrl = "/commentDelete/";
            var updateComment = $("#comment_seq").val();
            $.ajax({
                url: updateUrl+updateComment,
                type: 'POST',
                data: {"comment_seq":comment_seq},
                success: commentView,
                error: function(){alert("error!");}
            });
        }

    </script>
</head>
<body>

<form role="form" th:object=${tbl_bulletinVO} th:action="@{/bulletinDetail}">
    <div>
        <input id="article_seq" type="hidden" th:value="${detail.article_seq}">
        <label style="font-weight: bolder;">제목</label>
        <p th:text="${detail.article_title}"></p>
        <input type="hidden" th:field="${detail.article_title}">
    </div>
    <div>
        <label style="font-weight: bolder;">작성자</label>
        <p th:text="${detail.doctor_id}"></p>
    </div>
    <div>
        <label style="font-weight: bolder;">작성일자</label>
        <p th:text="${detail.article_date}"></p>
    </div>
    <div>
        <label style="font-weight: bolder;">첨부파일</label>
    </div>
    <div>
        <label style="font-weight: bolder;">내용</label>
        <p th:text="${detail.article_content}"></p>
        <input type="hidden" th:field="${detail.article_content}">
    </div>
    <div style="text-align: right;">
        <input type="submit" th:value="목록"
               th:formaction="@{/getBulletin}">
        <input type="submit" th:value="수정"
               th:formaction="@{/goBulletinUpdate/{article_seq}(article_seq=${detail.article_seq})}">
        <input type="submit" th:value="삭제"
               th:formaction="@{/bulletinDelete/{articleSeq}(articleSeq=${detail.article_seq})}">
    </div>
</form>
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div id="commentTable">
        <div id="c">
            <form method="POST">

            </form>
        </div>
    </div>
    <div class="card-body">
        <form name="comment-form" action="/commentWrite" method="post" autocomplete="off">
            <div class="form-group">
                <input type="hidden" name="article_seq" th:value="*{detail.article_seq}">
                <input name="doctor_id" th:value="${session.doctor_id}" readonly="readonly"><br>
                <textarea name="comment_content" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>