<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>파일업로드</title>
</head>
<body>


<button onclick="location.href='/list'">환자 리스트</button>
<button onclick="location.href='/getBulletin'">게시판</button>
    <form name="input" method="post" enctype="multipart/form-data" th:action="@{/fileUpload}">
        <input type="text" name="doctor_id" th:value="${session.doctor_id}" readonly="readonly"><br>
        <input type="text" name="p_code" placeholder="환자코드"><br>
        <input type="text" name="p_name" placeholder="환자 이름"><br>
        <input type="date" name="p_birthdate" placeholder="환자 생년월일"><br>
        <input type="file" name="file"><br>
        <input type="submit" value="사진업로드">
    </form>


</body>
</html>