<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>file view</h1>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>환자번호</th>
                <th>이름</th>
                <th>생년월일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data, index : ${patientList}"
                th:onclick="'window.location.href = \'' + @{detail/{p_seq}(p_seq=${data.p_seq})} + '\''">
                <td th:text="${data.p_code}"></td>
                <td th:text="${data.p_name}"></td>
                <td th:text="${data.p_birthdate}"></td>
                <!--<td></td>
                <td>b</td>
                <td>c</td>-->
            </tr>
            </tbody>

        </table>
    </div>

</body>
</html>